.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.counters {
  display: flex;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter__main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
button {
  margin: 10px;
  border: none;
}
button:hover {
  cursor: pointer;
}
.violet {
  background-color: #5c47d3;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
.fat {
  background-color: white;

  font-size: 35px;
  font-weight: bold;
}
.invisible {
  color: white;
  background-color: white;
}
.number {
  font-size: 30px;
}
